
.btn-crear{
    background-color: #e34444;
    border-color: #e34444;
}

.display-in-flex {
    display: inline-flex;
}
.vertical-margin {
    margin: 10px 0px;
}
#btnChangeClt {
    display: block;
    margin: 20px auto 0px;
}

.btn-redirect-crud {
    margin: auto 0px auto auto;
}

.btnAdd, .btnPagar {
    color: #e34444;
}

.div-img-center {
    text-align: center;
}

.centerVertical {
    margin: auto;
}

.list-group-item {
    padding: 0px 0px 10px;
}

.tdFooterTotal {
    text-align: right;
}

/* user direccion style */
.divInputDireccion {
    margin: 5px 0px auto auto;
}

/*preview de imagen seleccionada*/
.img-preview {
    width:200px;
    height:200px
}

/*columna y header de id oculta*/
#tabla_cliente_carrito tr td:nth-child(1), #tabla_cliente_carrito th:nth-child(1) {
    display: none;
}
/* client table filter custom style */
div.col-lg-12.col-xl-6 #tabla_clientes_filter label input {
    width: 115px;
}
#divSelectedClient {
    padding-inline: inherit;
}

/* data tables styles */
.dataTables_length {
    display: inline-flex;
    margin-right: 10px;
}
/* data tables buttons styles */
.excelButton{
    background-color: green;
}
.csvButton{
    background-color: #007bff;
}
.printButton{
    background-color: chocolate;
}
.pdfButton{
    background-color: #F40F02;
}

#btnRealizarVenta {
    height: 50px;
    font-size: larger;
    padding: 0px 20px;
    margin-bottom: 20px;
}